{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
         button {
  background-color: lightblue; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  text-align: right;
}
    </style>
</head>
<body style="background-image: url('{% static 'img_2.png' %}');background-repeat: no-repeat;background-size:  1550PX 715PX;">

 <a href="{% url 'home' %}" > <button   type="submit" style="color:BLACK "> TODO </a> </button>

<div class="card-body" style="width: 30%; margin-left: 10%; margin-top: 10%;">
    <form action="" method="post" style="background-color: lightblue;padding: 25px;border: 1px solid white; ">
        <center>
        <h1 style="color:red;">Login Hear </h1>
            </center>
        {% csrf_token %}
        {{ form.as_p}}

        <input type="Submit" value="Submit" style="margin-left: 16%; margin-top: 2%">
    </form>
</div>

</body>
</html>